.button {
  display: block;
  padding: 20px;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  font-weight: 700;
  color: @basic-blue-light;
  text-align: center;
  background-color: @basic-yellow;
  border-radius: 10px;
}

.button--login,
.button--next-step,
.button--submit {
  padding: 9px 25px;
  font-size: 17px;
  line-height: 20px;
  color: @basic-blue;
  text-transform: uppercase;
  border-radius: 25px;
}

.button--location {
  border: 3px solid @menu-blue;
  box-sizing: border-box;
}
