.button {
  display: block;
  padding: 22px;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  font-weight: 700;
  color: @basic-blue-light;
  text-align: center;
  background-color: @basic-yellow;
  border-radius: 10px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 27px 33px 28px;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}

.button--menu-login,
.button--login,
.button--next-step,
.button--submit,
.button--invite {
  padding: 14px;
  font-size: 17px;
  line-height: 20px;
  color: @basic-blue-dark;
  text-transform: uppercase;
  border-radius: 25px;
}

.button--next-step {
  margin-bottom: 10px;
  padding: 10px;

  @media (min-width: @tablet-width) {
    width: 41%;
    margin-bottom: 0;
    padding: 28px 33px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 22%;
    margin-bottom: 0;
  }
}

.button--menu-login {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding: 15px 29px;
  }
}

.button--show-all {
  text-align: left;

  @media (min-width: @tablet-width) {
    padding: 27px 33px 28px;
  }
}

.button--location {
  padding: 19px;
  border: 3px solid @basic-blue;
  box-sizing: border-box;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin: 0 35px;
    padding: 25px 35px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 76px 0 132px;
    padding: 23px 62px 25px 34px;
  }

  &:hover,
  &:focus {
    background-color: @basic-blue;
    color: @basic-white;
  }

  &:active {
    background-color: @basic-blue;
    color: fade(@basic-white, 30%);
  }
}

.button--invite {
  padding: 12px;
  line-height: 17px;

  @media (min-width: @tablet-width) {
    padding: 16px 32px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 32px;
  }
}

.button--interested {
  display: block;
  min-width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-family: inherit;
  background-color: @basic-yellow;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: @basic-blue-light;
  z-index: @zindex-interested;

  @media (min-width: @tablet-width) {
    min-width: 80px;
    border-radius: 0 20px 20px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 151px 0 36px;
    display: inline;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
}

.button--interested-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.button--show-all,
.button--interested,
.button--next-step,
.button--submit {
  &:hover,
  &:focus {
    background-color: @special-yellow-dark;
  }

  &:active {
    background-color: @special-yellow-dark;
    color: fade(@basic-blue-light, 30%);
  }
}

.button--next-step,
.button--submit {
  .button__icon-arrow {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.button__icon-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  margin: auto;

  @media (min-width: @tablet-width) {
    right: 34px;
  }
}

.button__icon-arrow--previous-step {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    top: 0;
    left: -34px;
    right: auto;
    transform: rotate(180deg);
  }

  @media (min-width: @desktop-width) {
    width: 13px;
    height: auto;
    left: 0;
  }
}
