.contacts {
  list-style: none;
}

.contacts__link {
  display: block;
  padding: 13px 10px 14px 61px;
  position: relative;
  line-height: 18px;
  text-decoration: none;
  font-weight: 700;
  color: @menu-blue;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    background-color: @contacts-icons;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    padding: 22px 10px 18px 148px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 68px;
      height: 68px;
      left: 57px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
    padding: 0;

    &::before {
      width: 50px;
      height: 50px;
    }
  }
}

.contacts__link--phone {
  @media (min-width: @desktop-width) {
    &::before {
      top: 0;
      left: 0;
      background-color: @special-orange;
    }
  }
}

.contacts__link--email {
  @media (min-width: @desktop-width) {
    &::before {
      top: 0;
      left: 0;
      background-color: @special-yellow-dark;
    }
  }
}

.contacts__text {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
