.country-selection {
  color: @basic-blue-light;
  background-color: @basic-white;
}

.country-selection__alphabet {
  border-collapse: collapse;
}

.country-selection__letter {
  width: 43px;
  height: 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    width: 49px;
    height: 68px;
    font-size: 20px;
    line-height: 20px;
  }
}

.country-selection__letter--selected {
  background-color: @light-blue;
}

.country-selection__list {
  .offset();
  padding: 15px 0 19px;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 32px 0 19px 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.country-selection__item {
  padding: 4px 0 0 18px;
  color: @special-grey;

  @media (min-width: @tablet-width) {
    padding: 5px 0 5px 11px;
  }
}
