.entertainment__list {
  .offset();
  margin-top: -4px;
  margin-bottom: 16px;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    border-top: 1px solid @grey-border;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 79px;
    margin-bottom: 5px;
  }
}

.entertainment__item {
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-bottom: 46px;
  }
}

.entertainment__country {
  display: block;
  padding: 9px 0 18px 11px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: @basic-blue-light;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 33px 0 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 38px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 72px;
    height: 24px;

    @media (min-width: @tablet-width) {
      top: 25px;
      right: 33px;
      width: 70px;
      height: 47px;
    }

    @media (min-width: @desktop-width) {
      top: -4px;
      right: 115px;
    }
  }

  &--bosnia::after {
    background: url("../img/flags/Bosnia-and-Herzegovina.png") center right/35px 24px no-repeat,
                url("../img/fade-mobile.png") center left/72px 24px no-repeat;

    @media (min-width: @tablet-width) {
      background: url("../img/flags/Bosnia-and-Herzegovina-tablet.png") center right/70px 47px no-repeat;
    }
  }

  &--czech::after {
    background: url("../img/flags/Czechia.png") center right/35px 24px no-repeat,
                url("../img/fade-mobile.png") center left/72px 24px no-repeat;

    @media (min-width: @tablet-width) {
      background: url("../img/flags/Czechia-tablet.png") center right/70px 47px no-repeat;
    }
  }
}

.entertainment__plan {
  padding: 8px 13px;
  width: 100%;
  height: 220px;
  box-sizing: border-box;
  resize: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: @special-grey;
  border: 1px solid @light-grey;
  border-radius: 4px;

  &::placeholder {
    color: fade(@special-grey, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 94%;
    height: 142px;
    padding: 16px 20px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 73%;
    padding: 21px 18px 21px 24px;
  }
}
