.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 21px 25px 15px;
  position: relative;
  background-color: @filter-blue;
  color: @menu-blue;

  @media (min-width: @tablet-width) {
    padding: 51px 40px 45px;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    padding: 51px 75px 45px;
  }
}

.filter--closed {
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }

  .filter__toggle-text {
    display: none;
  }

  .filter__toggle-text--show {
    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  .filter__category-list {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  .filter__wrapper {
    display: none;
  }
}

.filter--opened {
  .filter-toggle-text {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .filter__toggle-text--close {
      display: block;
    }
  }
}

.filter--nojs {
  .filter__wrapper {
    @media (min-width: @desktop-width) {
      display: block;
      position: static;
    }
  }

  .filter__toggle {
    // display: none;
  }

  .filter__hide {
    display: block;
  }
}

.filter__heading {
  .offset();
  order: -2;
  padding-left: 27px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding-left: 49px;
    font-size: 20px;
    list-style: 20px;
  }
}

.filter__toggle {
  order: -1;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  outline: 1px solid orange;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: @menu-blue;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    order: initial;
    width: auto;
    height: auto;
    padding: 10px 70px 10px 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.filter__toggle-text {
  display: none;
}

.filter__category-list {
  .offset();
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  padding-left: 50px;
  padding-top: 31px;
  padding-bottom: 20px;
  position: absolute;
  top: 38px;
  left: 0;
  list-style: none;
  background-color: @filter-blue;
  z-index: @zindex-filter-category;

  @media (min-width: @tablet-width) {
    .offset();
    margin-left: 15px;
    width: auto;
    display: flex;
    position: static;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
  }
}

.filter__category-link {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  color: @menu-blue;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 30%;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 3px;
  }
}

.filter__category-link--active {
  opacity: 100%;
}

.filter__wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 25px;
  position: absolute;
  top: 193px;
  left: 0;
  background-color: @filter-blue;
  border-radius: 0 0 30px 30px;
  z-index: @zindex-filter-country;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 115px;
    padding: 25px 75px 0;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 20px 0;
  }
}

.filter__country-wrapper {
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}

.filter__alphabet {
  width: 100%;
  margin-bottom: 16px;
  border-collapse: collapse;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 58%;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.filter_letter {
  width: 20%;
  height: 41px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    height: 83px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: fade(@menu-blue, 30%);
    border: none;
    vertical-align: top;
  }
}

.filter_letter--selected {
  background-color: @basic-blue-light;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    color: @menu-blue;
  }
}

.filter__country-selection {
  margin-bottom: 31px;
  background-color: @filter-blue;

  @media (min-width: @tablet-width) {
    width: 29%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 0;
  }
}

.filter__country-block {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 20%;
    margin-bottom: 60px;
  }
}

.filter__country-block--selected {
  display: block;
}

.filter__country-letter {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    .offset();
    margin-bottom: 35px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
  }
}

.filter__country-list {
  .offset();
  list-style: none;
}

.filter__country-item {
  color: @special-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.filter__hide {
  width: 100%;
  margin-bottom: 27px;
  padding: 10px 30px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: @menu-blue;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: @filter-blue-button;
  border: none;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
    padding: 40px 30px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}
