.filter {
  margin-top: -30px;
  padding: 51px 0 15px;
  background-color: @filter-blue;
  color: @basic-blue;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
    padding: 111px 0 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 111px 0 12px;
  }
}

.filter__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (min-width: @desktop-width) {
    align-items: center;
  }
}

.filter--closed {
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 47px;
  }

  .filter__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 3px;
      height: 3px;
      background-color: @basic-blue;
      border-radius: 50%;

      @media (min-width: @tablet-width) {
        top: 18px;
        left: auto;
        right: 51px;
        width: 6px;
        height: 6px;
      }

      @media (min-width: @desktop-width) {
        top: 11px;
        right: 78px;
      }
    }

    &::after {
      left: 7px;
      box-shadow: 7px 0 0 @basic-blue;

      @media (min-width: @tablet-width) {
        top: 18px;
        left: auto;
        right: 39px;
        box-shadow: 12px 0 0 @basic-blue;
      }

      @media (min-width: @desktop-width) {
        top: 11px;
        right: 66px;
      }
    }
  }

  .filter__toggle-text {
    display: none;
  }

  .filter__toggle-text--closed {
    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  .filter__category-list {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  .filter__wrapper {
    display: none;
  }
}

.filter--opened {
  .filter__toggle {
    @media (min-width: @tablet-width) {
      padding: 10px 112px 7px 10px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 2px;
      height: 19px;
      background-color: @basic-blue;
      transform: rotate(45deg);

      @media (min-width: @tablet-width) {
        margin: 0;
        height: 26px;
        top: 8px;
        left: auto;
        right: 38px;
      }
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .filter-toggle-text {
    display: none;
  }

  .filter__toggle-text--opened {
    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;

    .filter__wrapper,
    .filter__category-list,
    .filter__country-selection {
      position: static;
      background-color: transparent;
    }
  }
}

.filter--nojs {
  .filter__wrapper,
  .filter__category-list {
    display: block;
    position: static;
  }

  .filter__toggle {
    display: none;
  }

  .filter__hide {
    display: none;
  }
}

.filter__heading {
  .offset();
  order: -2;
  padding-left: 27px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: url("../img/icon-filter.svg") center left / 15px auto no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding-left: 65px;
    font-size: 20px;
    line-height: 20px;
    background: url("../img/icon-filter.svg") 20px top / 23px auto no-repeat;
  }
}

.filter__toggle {
  order: -1;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: @basic-blue;
  cursor: pointer;
  position: relative;
  outline: none;

  @media (min-width: @tablet-width) {
    order: initial;
    width: auto;
    height: auto;
    padding: 10px 82px 9px 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (min-width: @desktop-width) {
    padding: 3px 109px 10px 10px;
  }

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.filter__toggle-text {
  display: none;
}

.filter__category-list {
  .offset();
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  padding-left: 50px;
  padding-top: 31px;
  padding-bottom: 20px;
  position: absolute;
  top: 18px;
  left: 0;
  list-style: none;
  background-color: @filter-blue;
  z-index: @zindex-filter-category;

  @media (min-width: @tablet-width) {
    .offset();
    margin-left: 15px;
    width: auto;
    display: flex;
    position: static;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
  }
}

.filter__category-link {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  color: @basic-blue;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 30%;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 3px;
  }

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 100%;
  }
}

.filter__category-link--active {
  opacity: 100%;
}

.filter__wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 25px;
  position: absolute;
  top: 171px;
  left: 0;
  background-color: @filter-blue;
  border-radius: 0 0 20px 20px;
  z-index: @zindex-filter-country;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 65px;
    padding: 25px 60px 0;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 0;
  }
}

.filter__country-wrapper {
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 14px;
  }
}

.filter__alphabet {
  width: 100%;
  margin-bottom: 16px;
  border-collapse: collapse;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 58%;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.filter__letter {
  width: 20%;
  height: 41px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    height: 83px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: fade(@basic-blue, 30%);
    border: none;
    vertical-align: top;
  }
}

.filter__letter--selected {
  background-color: @basic-blue-light;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    color: @basic-blue;
  }
}

.filter__country-selection {
  margin-bottom: 31px;
  background-color: @filter-blue;

  @media (min-width: @tablet-width) {
    width: 29%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 0;
    padding-left: 35px;
  }
}

.filter__country-block {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    min-width: 253px;
    margin-bottom: 51px;
  }
}

.filter__country-block:nth-child(5n) {
  @media (min-width: @desktop-width) {
    margin-left: -9px;
  }
}

.filter__country-block--selected {
  display: block;
}

.filter__country-letter {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    .offset();
    margin-bottom: 36px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
  }
}

.filter__country-list {
  .offset();
  list-style: none;
}

.filter__country-link {
  color: @special-grey;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    color: @basic-blue-light;
  }

  &:active {
    color: fade(@basic-blue-light, 30%);
  }
}

.filter__hide {
  width: 100%;
  margin-bottom: 27px;
  padding: 11px 30px 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: @filter-blue-button;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;

  @media (min-width: @tablet-width) {
    margin: 0 15px 78px 15px;
    padding: 40px 30px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: normal;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 35px;
  }

  &:hover,
  &:focus {
    background-color: @filter-blue-button-hover;
  }

  &:active {
    background-color: @filter-blue-button-hover;
  }

  &:active .filter__hide-text {
    opacity: 30%;
  }
}

.filter__hide-text {
  display: inline-block;
  vertical-align: baseline;
  padding-left: 25px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 7px;
    width: 2px;
    height: 16px;
    background-color: @basic-blue;
    transform: rotate(45deg);

    @media (min-width: @tablet-width) {
      height: 26px;
      top: -4px;
      left: 10px;
    }
  }

  &::after {
    transform: rotate(-45deg);
  }
}
