.intro__slogan {
  .offset();
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.intro__review {
  .offset();
}

.intro__quote {
  .offset();
  font-weight: 300;
}

.intro__author {
  font-weight: 700;
  font-style: normal;
}

.intro__list {
  .offset();
  list-style: none;
}

.intro__item {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue;
}

.intro__item-1 {
  background-color: @special-orange;
}

.intro__item-2 {
  background-color: @special-orange-light;
}

.intro__item-3 {
  background-color: @special-yellow-dark;
}

.intro__item-4 {
  background-color: @basic-yellow;
}
