.modal {
  display: none;
  width: 270px;
  box-sizing: border-box;
  height: 443px;
  padding: 30px 25px;
  background-color: @basic-white;
  box-shadow: 0 2px 8px @modal-shadow;
  border-radius: 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
}

.modal__heading {
  .offset();
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;
  text-align: center;
}

.modal__list {
  .offset();
}

.modal__item {
  font-weight: 300;
  color: @special-grey;
}

.modal__price {
  .offset();
}

.modal__button {
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-blue-light;
  text-transform: uppercase;
  background-color: @modal-button;
  border: none;
}
