.new-plan {
  margin-top: -30px;
  padding: 28px 0 66px;
  background-color: @special-blue;
  color: @basic-blue-light;
  border-radius: 30px 30px 0 0;

  @media (min-width: @tablet-width) {
    padding: 50px 0 84px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -60px;
    padding: 50px 0 90px;
    border-radius: 60px 60px 0 0;
  }
}

.new-plan__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 0 75px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 60px;
  }
}

.new-plan__heading {
  .offset();
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
    margin-left: 70px;
  }
}

.new-plan__indicator-wrapper {
  width: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -67px;
  right: -6px;

  @media (min-width: @tablet-width) {
    padding-bottom: 18px;
    width: 76px;
    margin-right: 0;
    top: -124px;
    right: -42px;
  }

  @media (min-width: @desktop-width) {
    width: 228px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: static;
  }
}

.new-plan__step:not(:first-child) .new-plan__indicator-wrapper {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.new-plan__indicator {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
}

.new-plan__marker {
  .offset();
  width: 5px;
  height: 5px;
  background-color: fade(@basic-blue-light, 30%);
  border-radius: 50%;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 6px;
    height: 6px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 35px;
  }
}

.new-plan__indicator-link {
  display: none;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    display: inline;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: fade(@basic-black, 60%);
  }
}

.new-plan__indicator--current {
  .new-plan__marker {
    background-color: @basic-blue-light;
    cursor: default;
  }

  .new-plan__indicator-link {
    color: @basic-black;
  }
}

.new-plan__form {
  width: 100%;
}

.new-plan__step {
  .offset();
  margin-bottom: 9px;
  padding: 23px 25px 13px 25px;
  background-color: @basic-white;
  border: none;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    padding: 45px 40px 56px 40px;
    border-radius: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
    padding: 97px 160px 106px 160px;
    border-radius: 60px;
  }
}

.new-plan__step:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
    padding: 45px 40px 46px 43px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
    padding: 97px 160px 102px 160px;
  }
}

.new-plan__step:nth-child(3) {
  @media (min-width: @tablet-width) {
    padding: 45px 40px 49px 43px;
  }

  @media (min-width: @desktop-width) {
    padding: 97px 160px 100px 160px;
  }
}

.new-plan__top-wrapper {
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.new-plan__title {
  .offset();
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  br {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.new-plan__description {
  .offset();
  margin-bottom: 18px;
  color: @special-grey;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    padding-right: 38px;
    font-size: 20px;
    line-height: 24px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 585px;
    margin-bottom: 56px;
  }
}

.new-plan__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0;
    padding: 30px 0 17px;
    border-top: 1px solid @grey-border;
  }
}

.new-plan__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    padding-top: 24px;
    border-top: 1px solid @grey-border;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 0;
    border: none;
  }
}

.new-plan__field-wrapper--companions {
  @media (min-width: @tablet-width) {
    order: -2;
  }
}

.new-plan__label {
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    min-width: 222px;
    letter-spacing: normal;
  }
}

.new-plan__unit {
  .offset();
  font-weight: 500;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: fade(@basic-blue-light, 30%);

  @media (min-width: @tablet-width) {
    font-size: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    color: @basic-blue-light;
    letter-spacing: normal;
  }
}

.new-plan__unit--men {
  @media (min-width: @tablet-width) {
    margin-right: 4px;
  }
}

.new-plan__unit--days {
  @media (min-width: @tablet-width) {
    letter-spacing: normal;
  }
}

.new-plan__input-wrapper {
  width: 100%;
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 35%;
    margin-top: 0;
    margin-right: 36px;
    min-width: 177px;
  }
}

.new-plan__checkbox {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.new-plan__calendar {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.new-plan__countries-list {
  .offset();
  padding-top: 5px;
  list-style: none;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: -6px;
    padding-top: 42px;
    border-top: 1px solid @grey-border;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 62px;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 139px;
      width: 1px;
      height: 100%;
      background-color: @grey-border;
    }

    @media (min-width: @desktop-width) {
      right: 224px;
    }
  }
}

.new-plan__countries-item {
  display: flex;
  position: relative;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -17px;
    right: 49px;
    width: 8px;
    height: 11px;
    background: url("../img/next-down-arrow.svg") no-repeat;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--selected::before,
  &--not-selected::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 49px;
    margin: auto;
    width: 6px;
    height: 6px;
    border: 1px solid @basic-blue-light;
    border-radius: 50%;
    z-index: @zindex-new-plan;

    @media (min-width: @tablet-width) {
      width: 12px;
      height: 12px;
      right: 133px;
    }

    @media (min-width: @desktop-width) {
      right: 218px;
    }
  }

  &--selected::before {
    background-color: @basic-blue-light;
  }

  &--not-selected::before {
    border-color: @light-grey;
    background-color: @basic-white;
  }
}

.new-plan__flag {
  position: absolute;
  width: 53px;
  height: 100%;
  right: 0;
  border-radius: 4px;
  border: 1px solid @light-grey;
  box-sizing: border-box;
  background-size: 35px 24px;

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
    background-size: 100% auto;
    border: none;
    top: 11px;
    right: 44px;
  }

  @media (min-width: @desktop-width) {
    right: 115px;
  }
}

.new-plan__countries-item--not-selected {
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.new-plan__select-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 14px;
    margin: auto;
    width: 7px;
    height: 11px;
    background: url("../img/icon-arrow.svg") center / 100% auto no-repeat;
    transform: rotate(90deg);
    opacity: 30%;
    z-index: @zindex-new-plan;
    pointer-events: none;

    @media (min-width: @tablet-width) {
      width: 9px;
      height: 16px;
      right: 28px;
    }

    @media (min-width: @desktop-width) {
      width: 11px;
      height: 21px;
      right: 30px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    width: 52px;
    height: 36px;
    background: url("../img/fade-mobile.png") 100% 50% no-repeat;
    z-index: @zindex-new-plan;
    pointer-events: none;

    @media (min-width: @tablet-width) {
      right: 30px;
    }
  }
}

.new-plan__select-wrapper--selected {
  width: 100%;
  margin-right: 53px;

  @media (min-width: @tablet-width) {
    margin-right: 166px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 270px;
  }
}

.new-plan__select-country {
  width: 100%;
  padding: 11px 37px 12px 9px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: @basic-white;
  border: 1px solid @light-grey;
  border-radius: 4px;
  appearance: none;
  position: relative;
  cursor: pointer;
  outline: none;

  @media (min-width: @tablet-width) {
    padding: 23px 59px 25px 23px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  &:hover,
  &:focus {
    border-color: @blue-border-hover;
  }
}

.new-plan__select-wrapper--not-selected {
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-right: 166px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 270px;
  }
}

.new-plan__select-close {
  display: none;
}

.new-plan__remove {
  position: absolute;
  top: -12px;
  right: -10px;
  width: 21px;
  height: 21px;
  background-color: @light-blue;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: @zindex-new-plan;

  @media (min-width: @tablet-width) {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    right: 4px;

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: fade(@basic-black, 30%);
      }
    }

    &:active {
      &::before,
      &::after {
        background-color: fade(@basic-black, 5%);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 7px;
    width: 7px;
    height: 1px;
    background-color: @grey-remove;
    transform: rotate(45deg);
    border-radius: 1px;

    @media (min-width: @tablet-width) {
      width: 26px;
      height: 2px;
      top: 9px;
      right: -2px;
      background-color: fade(@basic-black, 10%);
    }
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.new-plan__new-country-wrapper {
  margin-bottom: 25px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
    padding-right: 166px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
    padding-right: 270px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 49px;
    margin: auto;
    width: 6px;
    height: 6px;
    background-color: @light-blue;
    border: 1px solid @light-grey;
    border-radius: 50%;
    z-index: @zindex-new-plan;

    @media (min-width: @tablet-width) {
      width: 12px;
      height: 12px;
      right: 133px;
    }

    @media (min-width: @desktop-width) {
      right: 218px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -20px;
      right: 139px;
      width: 1px;
      height: 125px;
      background-image: linear-gradient(@grey-border 50%, transparent 100%);
    }

    @media (min-width: @desktop-width) {
      right: 224px;
      height: 240px;
      background-image: none;
      background-color: @grey-border;
    }
  }
}

.new-plan__new-country {
  width: 100%;
  padding: 12px;
  position: relative;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding: 25px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.09em;
  }

  @media (min-width: @desktop-width) {
    letter-spacing: 0.1em;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: @basic-black;
    opacity: 20%;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;

    @media (min-width: @tablet-width) {
      width: 20px;
      right: 26px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    background-color: @light-blue;

    &::before,
    &::after {
      opacity: 30%;
    }
  }

  &:active {
    background-color: @light-blue;

    &::before,
    &::after {
      opacity: 10%;
    }
  }
}

.new-plan__country-selection {
  width: 100%;
  position: absolute;
  top: 42px;
  z-index: @zindex-new-plan-country-selection;

  @media (min-width: @tablet-width) {
    min-height: 415px;
    min-width: 575px;
    padding: 0 22px 0 27px;
    box-sizing: border-box;
    justify-content: space-between;
    top: 70px;
    box-shadow: 0 8px 16px @country-selection-shadow;
  }

  @media (min-width: @desktop-width) {
    min-width: auto;
    width: 730px;
    padding: 0 55px 0 10px;
  }
}

.new-plan__countries-item--opened {
  // кнопка закрыть выпадающий список
  .new-plan__select-close {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 6px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    @media (min-width: @tablet-width) {
      right: 20px;
      opacity: 30%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 1px;
      height: 10px;
      background-color: @basic-white;
      transform: rotate(45deg);

      @media (min-width: @tablet-width) {
        height: 25px;
      }
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media (min-width: @desktop-width) {
      &:hover,
      &:focus {
        opacity: 100%;
      }

      &:active {
        opacity: 10%;
      }
    }
  }

  // обертка алфавита и списка стран
  .new-plan__country-selection {
    display: block;
    box-shadow: 0 2px 16px @country-selection-shadow;

    @media (min-width: @tablet-width) {
      display: flex;
      box-shadow: 0 2px 16px @country-selection-shadow-tablet;
    }
  }

  &::before {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  // обертка селекта и кнопки закрыть
  .new-plan__select-wrapper {
    &::before,
    &::after {
      display: none;
    }
  }

  // селект
  .new-plan__select-country {
    padding-left: 16px;
    background-color: @basic-blue-light;
    color: @basic-white;
    letter-spacing: 0.02em;
    border-radius: 4px 4px 0 0;
    border-color: @basic-blue-light;
    border-bottom: 2px solid @basic-blue-light;

    @media (min-width: @tablet-width) {
      padding-left: 24px;
      letter-spacing: 0.1em;
    }
  }

  // кнопка убрать из списка
  .new-plan__remove {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.new-plan__countries-item--closed {
  .new-plan__country-selection {
    display: none;
  }
}

.new-plan__countries-item--nojs {
  .new-plan__country-selection {
    display: block;
    position: static;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }
}

.new-plan__country-selection-list {
  border: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    min-width: 171px;
    border: none;
    border-left: 1px solid fade(@blue-table, 50%);
  }
}

.new-plan__buttons-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.new-plan__previous-step {
  display: block;
  margin-top: 10px;
  position: relative;
  font-size: 17px;
  line-height: 30px;
  color: @basic-blue-light;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding: 28px 0;
    font-size: 24px;
    text-transform: none;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 3px 28px 36px;
    letter-spacing: normal;

    &:hover,
    &:focus {
      opacity: 70%;
    }

    &:active {
      opacity: 30%;
    }
  }
}

.new-plan__submit {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: inherit;
  font-size: 17px;
  border: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .offset();
    width: 41%;
    box-sizing: content-box;
    padding: 28px 33px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 22%;
  }
}
