.page-footer {
  background-color: @basic-white;
}

.page-footer__social-link {
  background-color: @basic-yellow;
  border-radius: 50%;
}

.page-footer__copyright {
  .offset();
  line-height: 16px;
  color: @special-grey;
}
