
.page-main__heading-block {
  padding: 92px 0 15px;
  background-color: @basic-blue-dark;
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    padding: 220px 0 70px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 218px 0 73px;
  }
}

.page-main__heading-block--catalog {
  position: relative;
}

.page-main__heading-container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-main__heading {
  .offset();
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    margin-left: 35px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 65px;
    margin-right: 450px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: @special-orange;
    border-radius: 4px;
    z-index: @page-heading-decoration;

    @media (min-width: @tablet-width) {
      height: 8px;
      bottom: -74px;
    }

    @media (min-width: @desktop-width) {
      bottom: -77px;
      left: 2px;
    }
  }
}

.page-main__home-link {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    min-width: 116px;
    padding: 21px 59px 13px 10px;
    margin-right: 35px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: @basic-white;
    text-transform: uppercase;
    text-decoration: none;
    background: url("../img/icon-arrow-bend.svg") 100% 23px no-repeat;
  }

  @media (min-width: @desktop-width) {
    margin-right: 64px;
  }

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.page-main__catalog-wrapper {
  padding: 23px 0 25px;

  @media (min-width: @tablet-width) {
    padding: 45px 0 35px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 45px 0 85px;
  }
}
