.page-header {
  position: fixed;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  background-color: @basic-white;
  color: @basic-white;
  padding: 20px 0 28px;
  z-index: @zindex-header;

  @media (min-width: @tablet-width) {
    padding: 40px 0 83px;
  }

  @media (min-width: @desktop-width) {
    padding: 49px 0;
    background-color: transparent;
  }
}

.page-header--closed {
  padding-bottom: 26px;
  background-color: transparent;

  .main-nav__logo {
    margin-bottom: 0;
  }

  .logo__image--opened,
  .main-nav__login,
  .main-nav__list,
  .main-nav__wrapper {
    display: none;
  }

  .logo__image--closed {
    display: block;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 42px;

    .main-nav__login {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 49px 0;

    .main-nav__login,
    .main-nav__list,
    .main-nav__wrapper {
      display: flex;
    }
  }
}

.page-header--opened {
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 49px 0;
  }

  .logo__image--opened {
    display: block;
  }

  .logo__image--closed {
    display: none;
  }

  .main-nav__toggle {
    &::before,
    &::after {
      height: 2px;
      background-color: @grey-menu-toggle;
    }

    &::before {
      top: 7px;
      transform: rotate(46deg);
    }

    &::after {
      bottom: 11px;
      transform: rotate(-46deg);
    }
  }
}

.page-header--nojs {
  position: static;
  background-color: @basic-white;
  color: @basic-white;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    padding: 40px 0 83px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: transparent;
    padding: 49px 0;
  }

  .logo__image--opened,
  .main-nav__login,
  .main-nav__list,
  .main-nav__wrapper {
    display: block;
  }

  .logo__image--closed {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  @media (min-width: @desktop-width) {
    .main-nav__login,
    .main-nav__list,
    .main-nav__wrapper {
      display: flex;
    }

    .logo__image--opened {
      display: none;
    }

    .logo__image--closed {
      display: block;
    }
  }
}

.page-header--scroll {
  padding-top: 26px;
  background-color: @basic-white;
  transition: ease 0.2s;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .logo__image--opened {
    display: block;
  }

  .logo__image--closed {
    display: none;
  }

  .site-nav__link {
    color: @basic-blue;
  }

  .main-nav__toggle {
    &::before,
    &::after {
      background-color: @grey-menu-toggle;
    }
  }

  .main-nav__list {
    @media (min-width: @desktop-width) {
      &::before {
        left: 56px;
        width: 44px;
        background-color: @basic-blue;
      }
    }
  }
}
