.plans {
  background-color: @special-blue-light;
  color: @basic-blue-light;
}

.plans__heading {
  .offset();
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.plans__list {
  .offset();
  list-style: none;
}

.plans__item {
  margin-bottom: 10px;
  background-color: @basic-white;
  border-radius: 10px;
}

.plans__countries {
  .offset();
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.plans__number {
  font-weight: 500;
}

.plans__companions,
.plans__dates {
  .offset();
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.plans__edit {
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: fade(@basic-black, 30%);
  text-decoration: none;
}
