.preferences {
  margin-bottom: 28px;
  padding: 24px 25px 22px;
  color: @basic-blue-light;
  background-color: @basic-yellow;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    padding: 37px 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 45px 47px 48px;
  }
}

.preferences__heading {
  .offset();
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.02em;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: normal;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.preferences__wrapper {
  @media (min-width: @tablet-width) {
    padding: 22px 0 23px;
    border-top: 1px solid @yellow-border;
    border-bottom: 1px solid @yellow-border;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    border: none;
  }
}

.preferences__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 5px;
  border-top: 1px solid @yellow-border;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    border: none;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding: 0 0 8px;
  }
}

.preferences__block--transport {
  @media (min-width: @tablet-width) {
    padding: 9px 0 6px;

    .preferences__toggle {
      margin-top: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 8px;

    .preferences__toggle {
      margin-top: 0;
    }
  }
}

.preferences__block--level {
  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 8px;
  }
}

.preferences__toggle {
  .offset();
  width: 100%;
  padding: 10px 0 6px;
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  background-image: url("../img/icon-down.svg");
  background-repeat: no-repeat;
  background-position: 100% 17px;

  @media (min-width: @tablet-width) {
    width: 19%;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    cursor: default;
    outline: none;
    background: none;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 13px 0 0;
    cursor: pointer;
    background-image: url("../img/icon-down.svg");
    background-repeat: no-repeat;
    background-position: 100% 19px;
  }

  span {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.preferences__list {
  .offset();
  margin-bottom: 14px;
  width: 100%;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 80%;
    margin-bottom: 0;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: auto;
    padding: 17px 0 3px;
  }
}

.preferences__list--transport {
  display: flex;

  @media (min-width: @desktop-width) {
    padding: 20px 0 13px;
  }

  .preferences__item {
    padding: 11px 0 0 0;

    @media (min-width: @tablet-width) {
      margin-right: 0;
      min-width: auto;
      padding-top: 0;
    }
  }
}

.preferences__item {
  padding: 10px 0 0 26px;

  @media (min-width: @tablet-width) {
    margin-right: 10px;
    min-width: 116px;
    padding: 0 0 0 44px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 0 10px 38px;
  }
}

.preferences__level-output {
  display: flex;
  position: relative;
  width: 100%;
  margin: 6px 0 14px;

  @media (min-width: @tablet-width) {
    order: 3;
    width: auto;
    margin: 9px 0 14px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 20px 0 29px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 1px;
    background-color: @light-grey;
    border-top: 4px solid @basic-white;
    border-bottom: 4px solid @basic-white;

    @media (min-width: @tablet-width) {
      width: 21px;
    }
  }
}

.preferences__level-input {
  flex-grow: 1;
  padding: 9px 10px;
  font-family: inherit;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  color: @basic-blue-light;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: @basic-white;
  border: 1px solid @light-grey;
  appearance: textfield;

  @media (min-width: @tablet-width) {
    padding: 10px 18px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px;
  }
}

.preferences__level-input::-webkit-outer-spin-button,
.preferences__level-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.preferences__level-input--min {
  border-radius: 4px 0 0 4px;
}

.preferences__level-input--max {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.preferences__level-range {
  width: 100%;
  padding: 10px 0 10px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: auto;
    flex-grow: 1;
    max-width: 350px;
    margin: 0 63px 0 10px;
    padding: 8px 0 12px;
  }

  @media (min-width: @desktop-width) {
    order: 4;
    width: 100%;
    margin: 0;
  }
}

.preferences__level-scale {
  width: 100%;
  height: 2px;
  background-color: fade(@basic-blue-light, 20%);

  @media (min-width: @tablet-width) {
    height: 3px;
  }
}

.preferences__level-bar {
  width: 100%;
  height: 2px;
  background-color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    height: 3px;
  }
}

.preferences__level-toggle {
  .offset();
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  background-color: @basic-blue-light;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 13px;
    height: 13px;
    top: 3px;
  }
}

.preferences__level-toggle--min {
  left: 30%;
}

.preferences__level-toggle--max {
  left: 96%;
}

.preferences__submit {
  width: 100%;
  margin-top: 10px;
  padding: 12px 30px;
  font-family: inherit;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: @basic-blue;
  text-transform: uppercase;
  background: @basic-white;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-top: 37px;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23px;
  }
}
