.profile-promo {
  background-color: @light-blue;
}

.profile-promo__heading {
  .offset();
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;
}

.profile-promo__list {
  .offset();
}

.profile-promo__item {
  line-height: 16px;
  font-weight: 300;
  color: @special-grey;
}

.profile-promo__price {
  .offset();
}

.profile-promo__business-rates {
  font-weight: 700;
  text-decoration: none;
  color: @blue-link;
}
