.result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    width: 72%;
    flex-shrink: 0;
    margin-right: 85px;
  }
}

.result__list {
  .offset();
  list-style: none;
}

.result__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 13px 0 15px;
  position: relative;
  background-color: @basic-white;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    padding: 32px 0 20px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    margin-bottom: 33px;
    padding: 45px 42px 38px 35px;

    &:hover {
      box-shadow: 0 4px 9px fade(@basic-black, 16%);
    }

    &:hover .result__img {
      transform: scale(1.17);
      transition: 0.5s;
    }
  }
}

.result__avatar {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: 18px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    top: 35px;
    left: 35px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
  }

  &:focus .result__img {
    transform: scale(1.17);
    transition: 0.5s;
  }
}

.result__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result__wrapper {
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
    width: 49%;
    padding-left: 255px;
  }

  @media (min-width: @desktop-width) {
    width: 38%;
    min-height: 135px;
  }
}

.result__name {
  .offset();
  min-height: 85px;
  padding: 0 60px 0 104px;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: auto;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 6px;
  }
}

.result__name-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: inline;
    font-size: 30px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 22px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: default;

    @media (min-width: @tablet-width) {
      top: 15px;
      right: -36px;
      width: 8px;
      height: 8px;
    }

    @media (min-width: @desktop-width) {
      top: 14px;
      left: -26px;
    }
  }

  &--offline::after {
    background-color: @offline-red;
  }

  &--online::after {
    background-color: @online-green;
  }

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.result__tags {
  display: flex;
  flex-wrap: wrap;
  .offset();
  margin-bottom: 10px;
  padding: 0 50px 0 26px;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 0 85px 0 6px;
  }
}

.result__tags-item {
  margin-right: 4px;
  font-size: 15px;
  line-height: 18px;
  color: @special-grey;

  @media (min-width: @tablet-width) {
    margin-right: 6px;
    font-size: 20px;
    line-height: 23px;
  }
}

.result__visit {
  width: 100%;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    order: 7;
    padding-top: 9px;
  }

  @media (min-width: @desktop-width) {
    order: initial;
    width: 27%;
    padding-top: 0;
  }

  .result__description {
    @media (min-width: @tablet-width) {
      display: inline-block;
      padding: 0 12px;
      margin-left: 72px;
      margin-bottom: 17px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.result__item:nth-child(2) .result__visit,
.result__item:nth-child(4) .result__visit {
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.result__visit,
.result__transport,
.result__level {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    height: 1px;
    width: 100%;
    background-color: @light-blue;
    margin: auto;

    @media (min-width: @tablet-width) {
      top: 21px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.result__transport,
.result__level {
  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
  }
}

.result__description {
  display: inline-block;
  .offset();
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 0 6px;
  position: relative;
  font-size: 15px;
  line-height: 16px;
  vertical-align: baseline;
  color: @special-grey;
  background-color: @basic-white;
  z-index: @zindex-result-description;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.result__countries-list {
  .offset();
  margin-left: 20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-left: 0;
  }
}

.result__country {
  .offset();
  padding: 6px 20px 6px 45px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: @basic-blue-light;
  background-size: 26px 18px;
  background-position: 5px 50%;

  @media (min-width: @tablet-width) {
    padding: 6px 25px 6px 48px;
    font-size: 20px;
    line-height: 20px;
    background-size: 35px 24px;
    background-position: 0 2px;
  }

  @media (min-width: @desktop-width) {
    padding: 6px 25px 11px 54px;
    background-position: 2px 4px;
  }
}

.result__transport {
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
    padding: 0 39px 7px 20px;
  }

  @media (min-width: @desktop-width) {
    order: 6;
    width: 20%;
    padding: 0;
    align-self: center;
  }
}

.result__transport-list {
  .offset();
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.result__transport-item {
  width: 32px;
  height: 32px;
  margin-right: 1px;
  background-color: @light-blue;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
    background-color: transparent;
  }
}

.result__transport-icon {
  width: 16px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
  }
}

.result__button-wrapper {
  order: 7;
  width: 100%;

  @media (min-width: @tablet-width) {
    order: initial;
    display: flex;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    width: 38%;
  }
}

.result__invite {
  margin: 13px 20px 8px 20px;

  @media (min-width: @tablet-width) {
    margin: 7px 3px 8px 255px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    background-color: @special-yellow-dark;
  }

  &:active {
    color: fade(@basic-blue-dark, 30%);
    background-color: @special-yellow-dark;
  }
}

.result__heart {
  padding-left: 40px;
  position: absolute;
  top: 60px;
  left: 64px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    align-self: flex-start;
    position: static;
    padding: 22px 10px 17px 54px;
  }

  @media (min-width: @desktop-width) {
    &:hover,
    &:focus {
      .result__likes-number::before {
        background-color: @filter-blue;
      }

      .result__likes-number::after {
        opacity: 50%;
      }
    }

    &:active {
      .result__likes-number::before {
        background-color: @filter-blue;
      }

      .result__likes-number::after {
        opacity: 10%;
      }
    }
  }
}

.result__likes-number {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-dark;

  &::before {
    content: "";
    position: absolute;
    left: -36px;
    top: -9px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: @filter-blue;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -26px;
    width: 20px;
    height: 18px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -14px;
      left: -56px;
      width: 50px;
      height: 50px;
    }

    &::after {
      top: 2px;
      left: -41px;
      width: 22px;
      height: 19px;
      background-size: 22px 19px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      background-color: transparent;
    }
  }
}

.result__heart--active {
  .result__likes-number {
    &::before {
      background-color: @likes-pink;
    }

    &::after {
      background-image: url("../img/icon-heart-liked.svg");
      opacity: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    &:hover,
    &:focus {
      .result__likes-number::before {
        background-color: @likes-pink-dark;
      }

      .result__likes-number::after {
        opacity: 100%;
      }
    }

    &:active {
      .result__likes-number::before {
        background-color: @likes-pink-dark;
      }

      .result__likes-number::after {
        opacity: 30%;
      }
    }
  }
}

.result__level {
  @media (min-width: @tablet-width) {
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    order: 7;
    width: 7%;
    margin-right: 0;
    align-self: center;
  }

  .result__description {
    margin-bottom: 11px;
    margin-left: 0;
    margin-right: 16px;
  }
}

.result__level-value {
  width: 45px;
  height: 45px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;

    &::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 1px;
      background-color: @basic-black;
      opacity: 10%;
      top: 14px;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }
}

.result__level-number {
  .offset();
  padding-top: 11px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-blue-light;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 13px;
    padding-bottom: 2px;
  }
}

.result__level-text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    .offset();
    font-size: 14px;
    line-height: 14px;
    color: fade(@basic-black, 40%);
    text-align: center;
  }
}

.result__level-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

// Pagination
.result__more {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 8px 10px 8px 40px;
  position: relative;
  font-family: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-blue-light;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    padding: 10px 11px 8px 54px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 33px 87px 27px 61px;
    cursor: pointer;

    &:hover,
    &:focus {
      &::before,
      &::after {
        opacity: 60%;
      }
    }

    &:active {
      &::before,
      &::after {
        opacity: 30%;
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 7px;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background-color: @basic-blue-light;

    @media (min-width: @tablet-width) {
      top: 20px;
      left: 4px;
      width: 26px;
    }

    @media (min-width: @desktop-width) {
      top: 43px;
      left: 12px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}

.result__pagination {
  margin-bottom: 52px;
  background-color: @basic-white;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    padding: 25px 22px 23px 28px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.result__pagination-list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    .offset();
    list-style: none;
  }
}

.result__pagination-page {
  @media (min-width: @tablet-width) {
    display: block;
    min-width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 14px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: @basic-blue-light;
    text-decoration: none;
    text-align: center;
  }

  &:hover[href],
  &:focus[href] {
    opacity: 60%;
  }
}

.result__pagination-page--current {
  @media (min-width: @tablet-width) {
    border-radius: 50%;
    background-color: @basic-yellow;
  }
}

.result__page-direction {
  display: flex;
  width: 100%;
  height: 52px;
  background-color: @basic-white;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.result__previous {
  border-right: 1px solid @light-blue;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.result__next {
  transform: rotate(180deg);
}

.result__previous,
.result__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
    padding: 10px 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 19px;
  }

  &:hover[href],
  &:focus[href] {
    opacity: 60%;
  }

  &:active[href] {
    opacity: 30%;
  }
}
