.routes {
  background-color: @light-blue;
}

.routes__heading {
  .offset();
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;
}

.routes__text {
  .offset();
  font-weight: 300;
  color: @special-grey;
}

.routes__list {
  .offset();
  list-style: none;
}

.routes__title {
  .offset();
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: @basic-black;
}

.routes__description {
  .offset();
  line-height: 18px;
  color: @special-grey;
  opacity: 30%;
}

.routes__users-number {
  .offset();
  color: @basic-blue;
  opacity: 30%;
}
