.routes {
  margin-top: -30px;
  padding: 100px 0 35px;
  background-color: @light-blue;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: @zindex-routes;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
    padding: 130px 0 81px;
    border-radius: 0 0 60px 60px;
    background-image: url("../img/bg/bg-routes-tablet.png");
    background-repeat: no-repeat;
    background-position: 92% 139px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/bg-routes-tablet@2x.png");
      background-size: 288px auto;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 220px 0 140px;
    background-position: 95% 145px;
  }
}

.routes__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
  }
}

.routes__heading {
  .offset();
  margin-bottom: 21px;
  padding: 0 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @special-orange;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
    padding: 0 33px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 62px;
    padding: 0 50px 0 141px;
  }
}

.routes__text {
  .offset();
  margin-bottom: 61px;
  padding: 0 46px 0 25px;
  font-weight: 300;
  color: @special-grey;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 106px;
    padding: 0 35px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 53%;
    margin-bottom: 100px;
    padding: 0 35px 0 142px;
  }
}

.routes__list {
  .offset();
  width: auto;
  margin-bottom: 27px;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    padding: 0 36px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -39px;
      left: 0;
      width: 141px;
      height: 141px;
      background-color: @filter-blue;
      border-radius: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0 31px 0 69px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;

    &::before {
      top: -71px;
    }
  }
}

.routes__item {
  min-height: 65px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
  }
}

.routes__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: auto;
    height: 100%;
  }
}

.routes__content {
  min-height: 64px;
  padding: 25px 25px 6px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 6px;
  z-index: @zindex-routes-content;
  margin-top: -17px;
  background-color: @basic-white;
  border-radius: 10px 10px 0 0;

  @media (min-width: @tablet-width) {
    width: 70%;
    order: -1;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    top: auto;
    margin-top: 0;
    padding: 28px 29px 23px;
    border-radius: 0;
  }

  @media (min-width: @desktop-width) {
    width: 67%;
    padding: 22px 50px 23px 31px;
  }
}

.routes__country {
  position: relative;
}

.routes__flag {
  width: 35px;
  height: 24px;
  position: absolute;
  top: -37px;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
    top: -11px;
    left: auto;
    right: -65px;
  }

  @media (min-width: @desktop-width) {
    top: 1px;
    left: auto;
    right: -85px;
  }
}

.routes__title {
  .offset();
  margin-bottom: 2px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;
  }
}

.routes__description {
  .offset();
  padding-right: 10px;
  line-height: 18px;
  font-weight: 500;
  color: @special-grey;
  opacity: 30%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.routes__users-number {
  .offset();
  padding-left: 18px;
  min-width: 40px;
  font-weight: 500;
  color: fade(@basic-blue-dark, 30%);
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 4px;

  @media (min-width: @tablet-width) {
    padding-left: 29px;
    font-size: 20px;
    line-height: 20px;
    background-size: 19px auto;
    background-position: 0 0;
  }
}

.routes__show-all {
  @media (min-width: @tablet-width) {
    margin: 0 35px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 241px 0 143px;
  }
}
