.checkbox__label {
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  user-select: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.checkbox__label--new-plan {
  margin-bottom: 18px;
  padding: 10px 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
    padding: 10px 40px 10px 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding: 10px 0 10px 58px;
  }
}

.checkbox__label--preferences {
  line-height: 20px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
  }
}

.checkbox__label--transport {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 1px;
  border-radius: 50%;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 43px;
    margin-left: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.checkbox__input + .checkbox__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  width: 18px;
  height: 18px;
  background-color: @basic-white;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
    top: -2px;
    left: -36px;
  }
}

.checkbox__input:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -21px;
  width: 9px;
  height: 9px;
  background-image: url("../img/icon-check-mark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: @tablet-width) {
    width: 11px;
    height: 11px;
    top: 5px;
    left: -28px;
    background-size: 12px;
  }
}

.checkbox__input + .checkbox__label--transport::before,
.checkbox__input:checked + .checkbox__label--transport::after {
  display: none;
}

.checkbox__input + .checkbox__label--new-plan::before {
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
  }
}

.checkbox__input:checked + .checkbox__label--new-plan::after {
  top: 11px;
  left: 9px;

  @media (min-width: @tablet-width) {
    top: 15px;
    left: 13px;
  }
}
