.checkbox__label {
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  user-select: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.checkbox__label--new-plan {
  margin-bottom: 18px;
  padding: 10px 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
    padding: 10px 40px 10px 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding: 10px 0 10px 58px;
  }
}

.checkbox__label--preferences {
  line-height: 20px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
  }
}

.checkbox__input + .checkbox__label--preferences:hover::before,
.checkbox__input:focus + .checkbox__label--preferences::before {
  opacity: 60%;
}

.checkbox__input + .checkbox__label--preferences:active::before {
  opacity: 30%;
}

.checkbox__input + .checkbox__label--preferences:active::after {
  opacity: 20%;
}

.checkbox__label--transport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 1px;
  border-radius: 50%;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 43px;
    margin-left: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }

  &:hover,
  .checkbox__input:focus + & {
    box-shadow: 0 2px 6px @transport-shadow;
  }

  &:active {
    box-shadow: none;
    background-color: @blue-checkbox-down;
  }
}

.checkbox__transport-icon {
  fill: @grey-transport;
}

.checkbox__label--transport:hover {
  .checkbox__transport-icon {
    fill: @grey-dark-transport;
  }
}

.checkbox__label--transport:active .checkbox__transport-icon {
  fill: @basic-blue-light;
  opacity: 10%;
}

.checkbox__input:checked + .checkbox__label--transport {
  .checkbox__transport-icon {
    fill: @basic-blue-light;
  }
}

.checkbox__input:checked + .checkbox__label--transport:hover {
  .checkbox__transport-icon {
    opacity: 70%;
  }
}

.checkbox__input:checked + .checkbox__label--transport:active {
  .checkbox__transport-icon {
    opacity: 30%;
  }
}

.checkbox__input + .checkbox__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  width: 18px;
  height: 18px;
  background-color: @basic-white;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
    top: -2px;
    left: -36px;
  }
}

.checkbox__input:checked + .checkbox__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -21px;
  width: 9px;
  height: 9px;
  background-image: url("../img/icon-check-mark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: @tablet-width) {
    width: 11px;
    height: 11px;
    top: 5px;
    left: -28px;
    background-size: 12px;
  }
}

.checkbox__input + .checkbox__label--transport::before,
.checkbox__input:checked + .checkbox__label--transport::after {
  display: none;
}

.checkbox__input + .checkbox__label--new-plan::before {
  top: 2px;
  left: 0;
  width: 26px;
  height: 26px;
  border: 1px solid @light-grey;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
  }
}

.checkbox__input:checked + .checkbox__label--new-plan::after {
  top: 11px;
  left: 9px;

  @media (min-width: @tablet-width) {
    top: 15px;
    left: 13px;
  }
}

.checkbox__input + .checkbox__label--new-plan:hover::before,
.checkbox__input:focus + .checkbox__label--new-plan::before {
  border: 1px solid @blue-border-hover;
}

.checkbox__input + .checkbox__label--new-plan:active::before {
  background-color: @blue-checkbox-down;
  border: none;
}

.checkbox__input + .checkbox__label--new-plan:active::after {
  opacity: 30%;
}
