.input {
  position: relative;
}

.input__number {
  width: 100%;
  padding: 12px 50px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  border: 1px solid @light-grey;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: textfield;
  outline: none;

  @media (min-width: @tablet-width) {
    padding: 22px 50px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 22px 50px 23px;
  }

  &:hover {
    border: 1px solid @blue-border-hover;
  }

  &:hover ~ .input__button::before,
  &:hover ~ .input__button::after {
    background-color: @blue-border-hover;
  }

  &:focus {
    border: 1px solid @basic-blue-dark;
  }

  &:focus ~ .input__button::before,
  &:focus ~ .input__button::after {
    background-color: @basic-blue-dark;
  }
}

.input__number::-webkit-outer-spin-button,
.input__number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input__button {
  padding: 0 18px;
  border: none;
  position: absolute;
  font-family: inherit;
  height: 100%;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 25px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: @grey-menu-toggle;
    top: 0;
    bottom: 0;
    left: 14px;
    margin: auto;

    @media (min-width: @tablet-width) {
      width: 20px;
      left: 23px;
    }

    @media (min-width: @desktop-width) {
      left: 18px;
    }
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: @grey-input-btn-hover;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: @grey-input-btn-down;
    }
  }
}

.input__button--less {
  left: 0;
}

.input__button--more {
  right: 0;

  &::after {
    transform: rotate(90deg);
  }

  &::before,
  &::after {
    left: auto;
    right: 14px;

    @media (min-width: @tablet-width) {
      right: 23px;
    }

    @media (min-width: @desktop-width) {
      right: 18px;
    }
  }
}
