// colors
@basic-blue: #161C35;
@menu-blue: #192144;
@light-blue: #EDEFF6;
@basic-yellow: #FFD74B;
@basic-white: #FFFFFF;
@special-yellow-dark: #FFBD30;
@special-grey: #444444;
@light-grey: #CBCED9;
@basic-blue-light: #1D2E5B;
@special-orange: #FF8D30;
@special-orange-light: #FFA530;
@basic-black: #000000;
@blue-link: #132576;
@blue-tooltip: #101D41;
@modal-shadow: rgba(29, 46, 91, 0.14);
@country-selection-shadow: rgba(54, 80, 148, 0.18);
@modal-button: #F3F4F8;
@special-blue: #D4D9EB;
@special-blue-light: #DFE3F0;
@blue-table: #D6D9E6;
@calendar-red: #FF5C23;
@filter-blue: #E2E5F2;
@filter-blue-button: #D6DAED;
@likes-bg: #F9EAEA;
@contacts-icons: #121936;
@grey-menu-toggle: #CCCCCC;
@grey-border: #E1E3E9;
// viewports
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
// z-index
@zindex-header: 100;
@zindex-footer: 100;
@zindex-modal: 200;
@zindex-about: 60;
@zindex-routes: 50;
@zindex-routes-content: 50;
@zindex-companions: 40;
@zindex-profile-promo: 30;
@zindex-interested: 20;
@zindex-location-content: 10;
@zindex-transport-tooltip: 10;
@zindex-new-plan-country-selection: 10;
